<!DOCTYPE html>
<html>
<head>
    <title>Exercise Intensity Recommendation</title>
</head>
<body>
    <div class="login">
        <!-- Main input for receiving query to our ML -->
        <form action="{{ url_for('predict') }}" method="post">
            <div class="input-frame">
                <div class="input-frame-column">
                    <label for="dream_weight">Dream weight (in kgs):</label><br>
                    <input type="text" id="dream_weight" name="dream_weight" required="required"><br>
                    <label for="actual_weight">Actual weight (in kgs):</label><br>
                    <input type="text" id="actual_weight" name="actual_weight" required="required"><br>
                    <label for="age">Age:</label><br>
                    <input type="text" id="age" name="age" required="required"><br>
                    <label for="duration">Duration (in minutes):</label><br>
                    <input type="text" id="duration" name="duration" required="required"><br>
                    <label for="calories_burned">Calories Burned:</label><br>
                    <input type="text" id="calories_burned" name="calories_burned" required="required"><br>
                </div>
                <div class="input-frame-column">
                    <label for="height">Height (in meters):</label><br>
                    <input type="text" id="height" name="height" required="required"><br>
                    <label for="gender">Gender:</label><br>
                    <select id="gender" name="gender" required>
                        <option value="" selected disabled hidden></option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select><br>
                    <label for="weather_conditions">Weather Conditions:</label><br>
                    <select id="weather_conditions" name="weather_conditions" required>
                        <option value="" selected disabled hidden></option>
                        <option value="Rainy">Rainy</option>
                        <option value="Sunny">Sunny</option>
                        <option value="Cloudy">Cloudy</option>
                    </select><br>
                </div>
                <div class="button-container" style="text-align: center;">
                    <button type="submit">Recommend</button>
                </div>
            </div>
        </form>

        {% if recommended_intensity %}
        <div class="prediction">
            <p class="prediction-text">Recommended Exercise Intensity: {{ recommended_intensity }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
